
body {
	position: relative;
	font-family: Corbel;
	background-image: url(../img/fondohd.jpg) ;
 	height: 800px;
}


.logo {
	position: relative;
	width: 120%;
	left: -12%;
	top: 2%;
	
  }
  
  /* clase para la caja grande o div del menú izquierdo */
  .menu_izquierdo {
	position: fixed;
	 left: 0%;
	 top: 0%;
	 padding-top: 5.8%;
	 width: 30%;
	 height: 100%;
	 background-color: #0101084e;
  }

  /* imagenes de logo y consola del menú izquierdo */
  .nombre {
	position: relative;
	width: 35%;
	margin-left: -15px;
	margin-top: 0%;
  }

  .consola {
	position: relative;
	width: 70%;
	margin-left: -15px;
	margin-top: 2%;
  }
  
  
  /* diseño del texto del parrafo con clase para dar más margen a los nombres */
  p {
	font-family: Corbel;
	text-align: center;
	font-size: 18px;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: 500;
	text-shadow: 0 0 0.2em #010108, 0 0 0.2em #f6b3e5;
	/* -webkit-text-stroke: 1px #010108; */
	color: #f6b3e5; 
  }
  
  .margen_p {
	margin-left: 15%;
  }

/* diseño del texto del TOP 7*/
.texto_top {
	font-family: Corbel;
	margin-left: -15px;
	font-size: 90px;
	font-weight: bold;
	color: #20115b;
	text-shadow: 0 0 0.2em #e3c4db, 0 0 0.2em #f6b3e5;
	background-color: rgba(250, 235, 215, 0);
	
  }
  
#color_texto_top {
	color: #20115b;
	text-shadow: 0 0 0.2em #8181e9, 0 0 0.2em #f6b3e5;
}


/* div que contiene los juegos pequeños */
.caja_juegos {
	position: absolute;
	top: 10px;
	left: 30%;
	width: 70%;
	height: 200px;
	padding-left: 2%;
	background-color: rgba(127, 255, 212, 0);
	
}

#juegos {
	position: relative;
	margin: 1%;
	width: 11%;
	top: 0px;
}


/* div mandos */
.joy {
	position: absolute;
	top: 400px;
	left: 30%;
	width: 70%;
	height: 400px;
	padding-left: 2%;
	vertical-align: middle;
	background-color: rgba(127, 255, 212, 0);
}

#joy-izq {
	position: relative;
	width: 14%;
	margin-top: 9.5%;

}

#joy-der {
	position: relative;
	width: 14%;
	margin-left: 62%;
	margin-top: 9.5%;
}

/* Div que contiene el carrusel completo */
.carrusel {
	position: relative;
	top: 50px;
	left: 13%;
	transform: scale(55%);
	background-color: #bcc41900;
}




@keyframes slide {
	0% { transform: translateX(-5.5%); }
	12% { transform: translateX(-5.5%); }

	15% { transform: translateX(-105.5%); }
	24% { transform: translateX(-105.5%); }

	27% { transform: translateX(-205.5%); }
	37% { transform: translateX(-205.5%); }

	40% { transform: translateX(-305.5%); }
	50% { transform: translateX(-305.5%); }

	53% { transform: translateX(-405.5%); }
	63% { transform: translateX(-405.5%); }

	66% { transform: translateX(-505.5%); }
	76% { transform: translateX(-505.5%); }
	
	79% { transform: translateX(-605.5%); }
	89% { transform: translateX(-605.5%); }	
	
	92% { transform: translateX(-705.5%); }
	100% { transform: translateX(-705.5%); }
}*

* { box-sizing: border-box; }
* { box-sizing: border-box; }

html { scroll-behavior: smooth; }



.wrapper {
	max-width: 720px;
	
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
	list-style-type:none;
}

.slide {
	width: 100vw;
	flex-shrink: 0 ;
	animation-name: slide;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 720px;
	height: 1080px;
	vertical-align: baseline;
}

.slide a {
	width: 100%;
	display: block;
	position: relative;
}

/*letras dentro de la imagen*/
.caption {
	color: #ffffffda;
	text-shadow: 0px 0px rgb(0, 0, 0) ;
	font-size: 3vw;
	position: absolute;
	bottom: 200px;
	right: 100px;
}

.slide:target {
	animation-name: none;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
}

/*Esto cambia la barra inferior*/
.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: bottom;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-decoration-color: none;
	color: rgb(0, 0, 0);
	font-size: 1.5rem;
}

/*Esto cambia el tamaño del contenedor de las imagenes */
@media only screen and (min-width: 1200px) {
	.slide {
		width: 720px;
	}

/* Esto cambia la posicion de las letras y el tamaño*/
.caption {
	font-size: 50px;
	bottom: 96px;
	right: 50px;
}
}