img {
	display: block ;
}

body {
	background-image: url(../img/fondohd.jpg) ;
}

.herramientas {
	font-family: Corbel ;
	font-weight: bold ;
}

div {
	float: left ;
}

.caja1 {
	background-color: #2A2A2A ;
    position: fixed;
    height: 70px;
	width: 100%;
	z-index: 1000 ;
    /*text-align: center; Estaba aqui antes*/
    word-wrap: break-word;
}

.cajaizq {
	position: relative ;
	top: 12px ;
	margin-left: 20px ;
}

.cajader {
	position: relative ;
	float: right ;
	margin-right: 25px ;
}

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-2 input#search{
  width: 45px;
  height: 40px;
  margin-left: -15px ;
  background: white;
  border: none;
  font-size: 11pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: black;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  transition: width .55s ease;
  margin-top: 13px ;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}
.container-2:hover input#search{
	width: 300px;
}
.container-2:hover .icon{
  color: #93a2ad;
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.caja1 .cajader img {
	position: relative ; 
	width: 35px ;
	top: 15px ;
	margin-right: 10px ;
}

.titular1 {
	font-size: 28px ;
	font-weight: bold ;
	color: #c876ff ;
	float: left ;
	margin-top: 7px ;
	font-family: Brush Script MT ;
}

.titular2 {
	font-size: 28px ;
	font-weight: bold ;
	color: white ;
	float: left ;
	margin-top: 7px ;
	font-family: Brush Script MT ;
}

.izquierda {
	margin-left: 20px ;
	margin-right: 32px ;
	margin-top: -2px ;
}

hr {
	border-color: gray ;
	height: 45px ;
}

ul {
	list-style: none ;
	margin: 0px ;
	padding: 0px ;
}

ul li {
	position: relative ;
}

li ul {
	position: absolute ;
	display: none ;
}

ul li a {
	display: block ;
	text-decoration: none ;
	color: white ;
	padding: 10px 0px ;
	margin-left: 30px ;
	background: #2A2A2A ;
	font-size: 19px ;
}

li:hover ul {
	display: block ; 
	line-height:150%;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	font-family: Corbel ;
	font-weight: bold ;
}

* {
	margin: 0 ;
	padding: 0 ;
}

.box {
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.contenedor {
	margin: 150px 250px ;
	border-radius: 15px ;
}

.centro {
    margin: 100px 50px 0px 50px;
}

.centro2 {
    margin: 50px 0px 50px 0px ;
    height: 30%;
    width: 100%;
}

.centro3 {
    height: 30%;
    width: 100%;
    margin: auto;
}

.centro4 {
    height: 30%;
    width: 100%;
    margin: auto;
}

.centro5 {
    height: 30%;
    width: 75%;
    margin: 0px 150px ;
}

.img {
	border-radius: 15px ;
    width: 100%;
    height: 100%;
}

.td1 {
	font-size: 24px ;
	font-family: Corbel ;
	font-weight: bold ;
	padding: 10px ;
	text-align: center ;
	color: #20115b ;
}

#tabla {
	margin: 0 auto ;
	width: 100% ;
}

.td2 {
	font-size: 20px ;
	font-family: Corbel ;
	padding: 10px ;
	text-align: center ;
}

.color {
	color: #7232f2 ;
}

.titulo3 {
	font-size: 44px ;
	font-family: Corbel ;
	font-weight: bold ;
	margin-left: 100px ;
}

.texto {
	font-size: 24px ;
	font-family: Corbel ;
}
